* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
head {
    margin: 15px;
    width: 100%;
}
.header {
    border: 1px solid black;
    padding: 15px;
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    margin-right: 15px;
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #333;
}

body {
    margin: 15px;
}
.leftcolumn {
    float: left;
    width: 20%;
    margin-right: 15px;
}
.rightcolumn {
    float: left;
    width: 75%;
}
.main {
    background-color: #f1f1f1;
    height: auto;
    text-align: justify;
    float: right;
    border: 1px solid black;
    padding-right: 15px;
    padding-left: 15px;
}
.table {
    background-color: #f1f1f1;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
}
.table tr { 
    border: solid thin; 
}
.table th {
    padding: 5px;
}
#pic {
    width: 100%;
}
#pic2 {
    width: 100%;
}

#trailer {
    align-self: center;
}
#trailer iframe {
    margin-top: 15px;
    width: 964px;
    height: 542px;
}
